table {
border-collapse: collapse;
}

td,
th {
  border: 1px solid black;
  padding: 3px;
  text-align: center;
}

th {
  font-weight: bold;
  background-color: #E6E6E6;
}

th:nth-child(6n),
th:nth-child(7n),
td:nth-child(6n),
td:nth-child(7n) {
  background-color: #EF4343;
}